# app config
APP_PORT=9000
APP_HOST=0.0.0.0
LOG_SEVERITY=info 
#'fatal','error','warn','info','debug','trace'
REDIS_EXPIRE_TIME=seconds
# 13148730 seconds = 5 months

#google api
GOOGLE_MAPS_KEY=

# redis master
MASTER_REDIS_CONNECTION_NAME=master
MASTER_REDIS_PORT=6376
MASTER_REDIS_HOST=redis-master
MASTER_REDIS_PASSWORD=passwordxD
MASTER_REDIS_DB=0

# redis slave

SLAVE_REDIS_CONNECTION_NAME=slave
SLAVE_REDIS_PORT=6379
SLAVE_REDIS_HOST=redis-slave
SLAVE_REDIS_PASSWORD=passwordxD
SLAVE_REDIS_DB=0

# apm config
ELASTIC_APM_SERVICE_NAME=<service name>
ELASTIC_APM_SECRET_TOKEN=<token>
ELASTIC_APM_SERVER_URL=<server url>